table {
  cursor: default;
}

table a {
    width: auto;
    line-height: 1;
    cursor: pointer;
}

.actioncolumn {
    text-align: center;
    cursor: default;
    display: flex;
    justify-content: space-around;
}

.KeyHabit_ActionButton {
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    color: rgba(237, 237, 237, 0.6);
    transition: 0.07s ease-out color;
}

.KeyHabit_ActionButton:hover {
    color: rgba(237, 237, 237, 1);
}

table input, table textarea {
  padding: 0 6px;
  background-color: rgb(240, 240, 240);
  color: rgb(80, 80, 80);
  width: 100%;
  border: none;
  cursor: text;
}

table textarea {
  height: 48px;
  max-height: 48px;
  overflow-y: auto;
  resize: none;
  scroll-behavior: smooth;
}

table input[readonly], table textarea[readonly] {
  background-color: #00000000;
  color: rgb(240, 240, 240);
  width: 100%;
  border: none;
  cursor: default;
}

table input[readeronly]:focus, table textarea[readonly]:focus {
  border: none;
}

table .addrow {
  height: 48px;
}

#SearchRow {
  border: 1px solid rgba(237, 237, 237, 0.2);
  padding: 4px 0 0px 6px;
  text-align: left;
  color: rgb(240, 240, 240);
  background-color: #00000000;
}


#SearchRow select {
  margin-left: 8px;
  display: inline-block;
}
#SearchRow input {
  display: inline-block;
  width: auto;
}