header {
  background-color: #000;
  color: #EEE;
  height: 8vh;
  min-height: 48px;
}

header .title {
  font-weight: bold;
  font-size: 32px;
  padding: 0 0 8px 8px;
}

header nav {
  height: 100%;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

header nav a {
  color: #BB4;
  display: inline-block;
  margin: 0 14px;
  font-weight: bold;
  /* background-color: #FFFFFF22; */
}

header nav a:hover {
  color: #BBB;
  text-decoration: none;
}

.headerSpace {
  margin-top: 8vh;
}
